body {
  background: #f5f5f5;
}
button{outline:none;}
.clear:after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

//select{appearance:none;}
.banner {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  .banner_nav {
    line-height: 40px;
    font-size: 12px;
    color: #666666;
  }
  .banner_list {
    margin-bottom: 34px;
    width: 1100px;
    .banner_list_left {
      width: 210px;
      float: left;
      height: 756px;
      background: #ffffff;
      h4 {
        padding-left: 25px;
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        margin-top: 10px;
        line-height: 24px;
        border-left: 5px solid #0ec891;
        margin-bottom: 6px;
      }
      ul {
        height: 38px;
        background: #f5f5f5;
        li {
          list-style: disc;
          color: #666666;
          font-size: 14px;
          line-height: 38px;
          margin-left: 20px;
        }
      }
    }
    .banner_list_right {
      width: 854px;
      margin-left: 246px;
      background: #ffffff;
      overflow: hidden;
      .title {
        line-height: 48px;
        margin-top: 4px;
        color: #666666;
        font-size: 16px;
        border-bottom: 1px solid #cccccc;
      }
      .list_information {
        width: 800px;
        margin: 0 auto;
        .information {
          .information_left {
            width: 210px;
            float: left;

            div {
              height: 60px;
              width: 60px;
              margin-left: 63px;
              margin-top: 33px;
              img {
                display: block;
                height: 60px;
                width: 60px;
              }
            }
            a {
              display: block;
              line-height: 46px;
              width: 210px;
              font-size: 14px;
              padding-left: 63px;
              color: #666666;
            }
          }
          .information_right {
            margin-left: 210px;
            h4 {
              line-height: 70px;
              color: #666666;
              margin-top: 5px;
              font-size: 16px;
            }
            ul {

              li {
                width: 280px;
                height: 70px;
                float: left;
                margin-right: 30px;
                &:nth-child(2n) {
                  margin-right: 0
                }

                input {
                  border: 1px solid #cccccc;
                  width: 100%;
                  height: 30px;
                  border-radius: 2px;
                  color: #333333;
                  font-size: 12px;
                }
                p {
                  line-height: 18px;
                  margin-bottom: 7px;
                  i {
                    color: #ff3300;
                  }
                }
              }
            }
            button{height:32px;
            width: 100px;
              background: #0ec891;
              color: #ffffff;
              border-radius: 4px;
              margin-bottom: 30px;
              margin-top: 4px;
            }
          }
        }
      }
    }
  }
}

.shade {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}

._alert_success {
  display: none;
  height: 178px;
  width: 296px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -148px;
  margin-top: -89px;
  background: #ffffff;
  z-index: 10;
  button {
    width: 16px;
    height: 16px;
    background: url("../images/claim/close.png") no-repeat center;
    margin-top: 26px;
    margin-left: 260px;
  }
  p {
    line-height: 44px;
    background: url("../images/success.png") no-repeat left center;
    margin-left: 65px;
    padding-left: 62px;
    font-size: 20px;
    margin-top: 25px;
  }
}

._alert_failed {
  display: none;
  height: 178px;
  width: 296px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -148px;
  margin-top: -89px;
  background: #ffffff;
  z-index: 10;
  button {
    width: 16px;
    height: 16px;
    background: url("../images/claim/close.png") no-repeat center;
    margin-top: 26px;
    margin-left: 260px;
  }
  p {
    line-height: 44px;
    background: url("../images/claim/failed.png") no-repeat left center;
    margin-left: 65px;
    padding-left: 62px;
    font-size: 20px;
    margin-top: 25px;
  }
}





.selected{
  display:block;
  width:100%;
  height:100%;
  box-sizing:border-box;
  background:none;
  border:1px solid #ccc;
  outline:none;
  -webkit-appearance:none;
  padding:0 5px;
  line-height:inherit;
  color:inherit;
  cursor:default;
  font-size:14px;
  position:relative;
  z-index:3;
}
.selected option{
  color:#999999;
}
.selected option:hover{
  color:#fff;
}
.selected option:checked{
  background:#10db9f;
  color:#fff;
}
.selectStyle{
  display:block;
  margin:0 auto;
  overflow:hidden;
  height:30px;
  width:280px;
  border-radius:0;
  background:#ffffff url("../images/claim/option.jpg") right center no-repeat;
  background-size:auto 80%;
  color:#333;
  line-height:2;
}
.select{
  display:block;
  width: 84px;
  height:30px;
  box-sizing:border-box;
  background:none;
  border:1px solid #ccc;
  outline:none;
  -webkit-appearance:none;
  padding:0 5px;
  line-height:inherit;
  color:inherit;
  cursor:default;
  font-size:14px;
  position:relative;
  z-index:3;
}
.selected option{
  color:#999999;
}
.selected option:hover{
  color:#fff;
}
.selected option:checked{
  background:#10db9f;
  color:#fff;
}
.selectStyle_op{
  display:block;
  float: left;
  margin-right: 14px;
  &:last-child{margin-right: 0;}

  overflow:hidden;
  height:30px;
  width:84px;
  border-radius:0;
  background:#ffffff url("../images/claim/option.jpg") right center no-repeat;
  background-size:auto 80%;
  color:#333;
  line-height:2;

}

