html,body{
  background: #f5f5f5;
}
button{outline: none;}
.banner{
  width: 1200px;
  height: 563px;
  background: #ffffff;
  margin: 20px auto;
  p{
    display: flex;
    height: 48px;
    border: 1px solid #eeeeee;
    background: #fbfbfb;
    border-left: 0;
    a{
      width: 160px;
      text-align: center;
      background: #ffffff;
      color: #333333;
      font-size: 18px;
      height: 46px;
      line-height: 46px;
      border-right: 1px solid #eeeeee;
      border-top: 3px solid #1be2a7;
    }
  }
  .box1{
    margin-top: 38px;
  display: flex;
    height: 38px;
    line-height: 38px;
    margin-bottom: 20px;
    span{
      height: 38px;
      line-height: 38px;
      width: 470px;
      text-align: right;
    }
    input{
      &::placeholder{
        color: #cccccc;
      }
      padding-left: 15px;
      margin-left: 5px;
      height: 36px;
      border: 1px solid #eeeeee;
      border-radius: 3px;
      width: 285px;
    }
  }
  .box2{
    display: flex;
    height: 38px;
    line-height: 38px;
    margin-bottom: 20px;
    span{
      height: 38px;
      line-height: 38px;
      width: 470px;
      text-align: right;
    }
    input{
      &::placeholder{
        color: #cccccc;
      }
      padding-left: 15px;
      margin-left: 5px;
      width: 162px;
      height: 36px;
      border: 1px solid #eeeeee;
      border-radius: 3px;
    }
    button{
      width: 108px;
      height: 38px;
      background: #1be2a7;
      color: #ffffff;
      border-radius: 3px;
      margin-left: 14px;
    }
  }
  .banner_btn{
    margin-top: 20px;
    width: 152px;
    height: 33px;
    background: #1be2a7;
    color: #ffffff;
    margin-left: 525px;
    border-radius: 2px;
  }

}
