
.container{
  display:flex;
  justify-content:center;
  background:#f5f5f5;
  padding-top:13px;
  .wrap{
    display:flex;
    .left{
      width:760px;
      box-shadow:0 0 10px rgba(180,180,180,0.7);
      .banner{

      }
      .project{
        padding:0 20px 30px 30px;
        background:#fff;
        .item{
          display:flex;
          justify-content:space-between;
          border-bottom:1px solid #e8e8e8;
          padding:30px 0;
          .icon{
            width:30px;
            height:20px;
            color:#fff;
            border-radius:5px;
            background:#f17494;
            &.blue{
              background:#47b6ee;
            }
            &.green{
              background:#37da89;
            }
            &.yellow{
              background:#fec047;
            }
          }
          .item-cen{
            flex:1;
            margin:0 19px;
            .h3{
              font-size:22px;
            }
            .head{
              display:flex;
              align-items:center;
              margin:10px 0;
              img{
                width:30px;
                height:30px;
              }
              span{
                color:#999;
                font-size:14px;
                margin:0 4px;
              }
            }
            .text{
              line-height:20px;
              color:#656565;
            }
            .icon-list{
              display:flex;
              margin-top:30px;
              li{
                display:flex;
                margin-right:20px;
                i{
                  display:flex;
                  width:23px;
                  height:18px;
                  margin-right:6px;
                  cursor:pointer;
                  &.follow{
                    background:url("../images/unfollow.png") no-repeat;

                    &.foled{
                      background:url("../images/follow.png") no-repeat;
                    }
                  }
                  &.talk{
                    background:url("../images/talk.png") no-repeat;
                    background-size:100% 100%;
                  }
                  &.share{
                    width:16px;
                    background:url("../images/share.png") no-repeat;
                  }
                }
                span{
                  color:#919191;
                }
              }
            }
            .progress{
              margin-top:20px;
              .money{
                display:flex;
                justify-content:space-between;
                font-size:12px;
                p:last-child{
                  color:#fd2729;
                }
              }
              .bar{
                height:12px;
                width:100%;
                background:#e3e3e3;
                border-radius:6px;
                position:relative;
                margin:10px 0;
                i{
                  background:linear-gradient(left,#15eeb9,#11e6ee);
                  position:absolute;
                  top:0;
                  left:0;
                  width:50%;
                  height:12px;
                  border-radius:6px;
                }
                .percent{
                  position:absolute;
                  top:15px;
                  left:50%;
                }
              }
            }
          }
          .right-img{
            width:190px;
            height:190px;
          }
        }
      }
      .hot-mods{
        background:#fff;
        padding:0 20px 30px 30px;
        border-bottom:1px solid #e8e8e8;
        h4{
          font-size:18px;
          background:url("../images/hot.png") no-repeat left center;
          text-indent:22px;
        }
        .mods-list{
          display:flex;
          flex-wrap:wrap;
          .mod{
            display:flex;
            align-items:center;
            flex:0 0 50%;
            margin:20px 0 40px 0;

            .mod-text{
              margin-left:10px;
              .tit{
                font-size:16px;
                font-weight:bold;
                color:#333;
              }
              p{
                font-size:12px;
                margin-top:10px;
                .red{
                  color:#ff0100;
                }
              }
            }
          }
        }
      }
      .news{
        padding:30px 20px 80px 30px;
        background:#fff;
        h4{
          font-size:18px;
          background:url("../images/new.png") no-repeat left center;
          text-indent:22px;
        }
        .new-list{
          .new{
            padding:20px 0 5px;
            border-bottom:1px solid #e8e8e8;
            .row{
              display:flex;
              align-items:center;
              justify-content:space-between;
              .tit{
                font-size:14px;
                font-weight:bold;
                color:#333;
              }
              p{
                display:flex;
                align-items:center;
                margin:10px 0;
                a{
                  display:flex;
                  align-items:center;
                  img{
                    width:30px;
                    height:30px;
                  }
                }

              }
              span{
                color:#999;
                margin:0 4px;
              }
            }
          }
        }
      }
      .bx-wrapper .bx-prev {
        background: url(../images/crowd/arrow_left.png) no-repeat center;
      }
      .bx-wrapper .bx-next {
        background:url(../images/crowd/arrow_right.png) no-repeat center;
      }

    }
    .right{
      width:320px;
      margin-left:20px;
      .right-item{
        background:#fff;
        box-shadow:0 0 10px rgba(180,180,180,0.7);
        margin-bottom:13px;
        .sign{
          display:flex;
          align-items:center;
          justify-content:space-around;
          height:140px;
          p{
            .big{
              font-size:24px;
              font-weight:normal;
            }
            span{
              display:block;
              margin-top:7px;
            }
          }
          button{
            width:140px;
            height:40px;
            background:#13e9b3;
            border-radius:10px;
            color:#333;
            font-size:18px;
          }
        }
        .weather{
          height:140px;
          display:flex;
          align-items:center;
          justify-content:center;
          position:relative;
          border-top:1px solid #dcdcdc;
          .wea-modal{
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
          }
        }
        h4{
          border-left:5px solid #13e9b3;
          height:37px;
          line-height:37px;
          font-size:18px;
          text-indent:10px;
        }
        .activity{
          display:flex;
          padding:20px 10px;
          img{
            width:97px;
            height:97px;
          }
          .act-text{
            display:flex;
            flex:1;
            flex-direction:column;
            margin-left:10px;
            a{
              font-size:16px;
              color:#666;
              font-weight:bold;
            }
            span{
              color:#999;
              font-size:12px;
              margin:5px 0 ;
            }
            button{
              width:80px;
              height:30px;
              color:#fff;
              text-align:center;
              line-height:30px;
              background:#13e9b3;
              border-radius:5px;
            }
          }
        }
        .user{
          display:flex;
          padding:10px;
          align-items:center;
          border-bottom:1px solid #f5f5f5;
          .user-text{
            margin-left:10px;
            a{
              font-weight:bold;
              color:#333;
              font-size:14px;
            }
            p{
              color:#666;
              font-size:12px;
            }
          }
        }
      }
    }
  }
}







