clear:after {
  display: block;
  clear: both;
  content: "";
  height: 0;
  visibility: hidden;
}

button {
  outline: none;
}

.shade {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}

.login_alert {

  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -195px;
  z-index: 11;
  width: 390px;
  height: 290px;
  background: url("../images/denglu.jpg") no-repeat center;
  .logon_close{
    height: 36px;
    width: 36px;
    background: url("../images/login_close.png") no-repeat center;
    position: absolute;top: -30px;
    right: -50px;
  }
  .tab_nav {
    height: 42px;
    a {
      height: 42px;
      float: left;
      width: 50%;
    }
  }
  p {
    line-height: 30px;
    color: #1be2a7;
    margin-top: 10px;
    margin-left: 45px;
  }
  .u_name {
    height: 40px;
    margin-top: -1px;
    width: 259px;
    margin-left: 85px;
    box-sizing: border-box;
    &:hover {
      border: 1px solid #1be2a7;
    }
    input {
      height: 38px;
      width: 208px;
      margin-left: 48px;
    }
  }
  input[type="password"] {
    height: 40px;
    width: 257px;
    margin-left: 87px;
    margin-top: 16px;
    padding-left: 10px;
    box-sizing: border-box;
    &:hover {
      border: 1px solid #1be2a7;
    }
  }
  .check_forget {
    height: 20px;
    margin-top: 10px;
    margin-left: 45px;
    width: 300px;
    div {
      box-sizing: border-box;
      float: left;

      height: 20px;
      width: 90px;
      div {
        margin-left: 3px;
        box-sizing: border-box;
        height: 9px;
        width: 9px;
        margin-top: 7px;
      }
    }
    a {
      height: 20px;
      float: right;
      width: 75px;
    }
  }
  button {
    height: 40px;
    width: 300px;
    margin-top: 12px;
    margin-left: 45px;
    background: rgba(0, 0, 0, 0);
  }
}
.register_alert {
  display: none;
  width: 390px;
  height: 424px;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -195px;
  z-index: 11;
  background: url("../images/zhuce.jpg") no-repeat center;
  .tab_nav {
    height: 42px;
    a {
      height: 42px;
      float: left;
      width: 50%;
    }
  }
  .u_name {
    height: 40px;
    margin-top: 39px;
    width: 259px;
    margin-left: 85px;
    box-sizing: border-box;
    &:hover {
      border: 1px solid #1be2a7;
    }
    input {
      height: 38px;
      width: 208px;
      margin-left: 48px;
    }
  }
  .verification_btn{
    height: 40px;
    .verification {
      float: left;
      height: 40px;
      width: 150px;
      padding-left: 10px;
      box-sizing: border-box;
      margin-left: 86px;
      margin-top: 16px;
      &:hover {
        border: 1px solid #1be2a7;
      }
    }
    button{
      margin-top: -40px;
      height: 40px;
      width: 100px;
      float: right;
      margin-right: 45px;
    }
  }

  .l_user {
    display: block;
    height: 40px;
    width: 257px;
    margin-left: 87px;
    margin-top: 53px;
    padding-left: 10px;
    box-sizing: border-box;
    &:hover {
      border: 1px solid #1be2a7;
    }
  }
  input[type='password'] {
    display: block;
    height: 40px;
    width: 257px;
    margin-left: 87px;
    margin-top: 16px;
    padding-left: 10px;
    box-sizing: border-box;
    &:hover {
      border: 1px solid #1be2a7;
    }
  }
  .check {
    height: 20px;
    width: 110px;
    margin-left: 45px;
    margin-top: 10px;
    box-sizing: border-box;
    padding-top: 6px;
    div {
      height: 9px;
      width: 9px;
      background: #ffffff;
      margin-left: 3px;
    }
  }
  button {
    height: 40px;
    width: 300px;
    background: rgba(0, 0, 0, 0);
    margin-top: 12px;
    margin-left: 45px;
  }
}


