html,body{
  background: #f6f6f6;
}
button{
  outline: none;
}
.left_box{
  width: 230px;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  background: #303636;
  h4{
    color: #ffffff;
    font-size: 22px;
    margin-top: 26px;
    line-height: 28px;
    padding-left: 57px;
    background: url("../images/live_center/zhibozhongxin.png") no-repeat left 17px center;
  }
  a{
    display: block;
    background: url("../images/live_center/shouye.png") no-repeat left 17px center;
    padding-left: 45px;
    margin-top: 24px;
  }
  label{
    margin-top: 24px;
    margin-left: 15px;
    display:flex;
    height: 30px;
    width: 199px;
    border: 1px solid #535959;
    border-radius: 2px;
    background: #464c4c;
    input{
      background: #464c4c;
      height: 30px;
      width: 160px;
      padding-left: 10px;
    }
    button{
      height: 30px;
      width: 30px;
      background:#464c4c url("../images/live_center/search.jpg") no-repeat center;
    }
  }
  .p1{
    color: #acb0b1;
    background: url("../images/live_center/guanzhu.png") no-repeat left 17px center;
    padding-left: 40px;
    margin-top: 30px;
  }
  .bottom_box{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #161817;
    .div1{
      display:flex;
      margin-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-right: 14px;
      border-bottom: 1px solid #2b2d2c;
      img{display: block;
        height: 53px;
        width: 53px;
        border-radius: 50%;}
      div{
        margin-left: 10px;
        p{
          color: #c7c7c7;
          margin-bottom: 6px;
        }
        span{
          color: #c7c7c7;
        }
      }
      button{
        height: 30px;
        width: 30px;
        background: url("../images/live_center/xiangshang.jpg") no-repeat center;
        margin-left: 35px;
      }
    }
    .div2{
      display: flex;
      height: 47px;
      p{
        margin-left: 15px;
        margin-top: 5px;
        color: #ffffff;
        span{
          color: #fdbf26;
        }
      }

    }
  }


}
.right_box{
  margin-left: 250px;
  margin-right: 20px;
  .title{
    margin-top: 20px;
    line-height: 44px;
    height: 44px;
    border-bottom: 1px solid #eee;
   a{
     font-size: 18px;
     color: #333333;
     display: block;
     width: 75px;
     border-bottom: 3px solid #1be2a7;
   }
  }
  ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li{
      margin-top: 20px;
      border-radius: 4px;
      width: 314px;
      height: 84px;
      background: #ffffff;
      display: flex;
      img{
        height: 51px;
        width: 51px;
        display: block;
        margin-top: 17px;
        margin-left: 17px;
      }
      div{
        margin-left: 14px;
        p{
          margin-top: 14px;
          font-size: 16px;
          line-height: 34px;
        }
        span{
          font-size: 12px;
          color: #666666;
        }
      }
      button{
        width: 53px;
        height: 24px;
        background: #ffffff;
        color: #1be2a7;
        border: 1px solid #1be2a7;
        font-size: 12px;
        border-radius: 2px;margin-top: 28px;
        margin-left: 85px;
      }
    }
  }

}


