body {
  background: #f5f5f5;
}

.clear:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
}
button{outline:none;}
.search_sou {
  background: #ffffff;
  height: 42px;
  width: 524px;
  margin: 30px auto 36px;
  border: 2px solid #0fc791;
  position: relative;

  select {
    border: 0;
    height: 42px;
    width: 115px;
    border-right: 2px solid #0fc791;
    padding:0 15px 0 17px;
  }
  input {
    padding-left: 10px;
    height: 41px;
    width: 300px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 100px;
    background: #0fc791;
    border: 0;
    margin-right: 0px;
    margin-top: 0px;
    color: #ffffff;
  }
}

.search_none_banner {
  width: 1100px;
  margin: 0 auto 50px;

  .left_div {
    float: left;
    background: #ffffff;
    width: 764px;
    .left_div_p1 {
      height: 48px;
      background: #fbf9fa;
      border-bottom: 1px solid #eeeeee;
      a {
        display: block;
        line-height: 46px;
        border-top: 2px solid #0fc88f;
        border-right: 1px solid #eeeeee;
        width: 80px;
        background: #ffffff;
        text-align: center;
        font-size: 16px;
        color: #333333;
      }
    }
    .left_div_p2 {
      line-height: 50px;
      border-bottom: 1px solid #eeeeee;
      padding-left:18px;
      font-size: 16px;
      color: #999999;
      .span {
        color: #0ec891;
      }
    }
    .left_nav {
      padding-left: 18px;
      line-height: 58px;
      border-bottom: 1px solid #eeeeee;
      span {
        float: left;
        height: 58px;
        color: #999999;
      }
      ul {
        float: left
      }
      li {
        float: left;
        a {
          font-size: 14px;
          padding: 0 9px;
          color: #333333;
        }
      }
    }
    .search_none_search {
      position: relative;
      height: 70px;
      border-bottom: 1px solid #eeeeee;
      input{height: 30px;
        border-radius: 20px;
        margin-top: 20px;
        padding-left: 32px;
        width: 160px;
        border:1px solid #eeeeee;
        margin-left: 20px}
      button{background: url("../images/search_button.jpg") no-repeat center center;height: 20px;width: 20px;
        position: absolute;
        top:26px;
        left: 29px;}

    }
    .result {
      width: 764px;
      ul {
        width: 764px;
        li {
          width: 750px;
          border-bottom: 1px solid #eeeeee;
          padding:14px 0 14px 14px;
          display: flex;
           .a_img{
             height: 140px;
             width: 140px;
           }
          div{
            margin-left: 15px;
            margin-top: 18px;
            width: 512px;
            a{
              display: block;
             font-size: 16px;
              color: #ff3300;
              margin-bottom: 12px;
            }
            p{
             color: #999999;
              margin-bottom: 6px;
            }
          }
          button{
            color: #ffffff;
            background: #ff931d;
            height: 26px;
            width: 66px;
            border-radius: 2px;
            margin-top: 2px;
          }
        }

      }

    }

    #pages{
      height:110px;
      background:#fff;
      display:flex;
      align-items:center;
      justify-content:center;
    }
  }
  .right_div {
    width: 320px;
    margin-left: 782px;
    overflow: hidden;

    .right_div_activity {

      background: #ffffff;
      width: 320px;
      h3 {
        font-size: 18px;
        color: #333333;
        font-weight: bold;
        line-height: 40px;
        border-left: 5px solid #1ae2a7;
        padding-left: 15px;
        margin-bottom: 20px;
      }
      ul {
        width: 300px;
        margin: 0 auto;

        li {
          border-bottom: 1px solid #eeeeee;
          padding-bottom: 8px;
          margin-top: 20px;
          &:last-child {
            border-bottom: 0;
          }
          .activity_left {
            width: 100px;

            float: left;
            img {
              height: 100px;
              width: 100px;
            }
          }
          .activity_right {
            width: 180px;
            margin-right: 10px;
            float: right;
            .title {
              font-size: 16px;
              font-weight: bold;
              color: #666666;
              line-height: 20px;
            }
            .p1 {
              margin-top: 4px;
              color: #999999;
            }
            .p2 {
              line-height: 33px;

              font-size: 123px;
              margin-top: 7px;
              a {
                float: left;
                margin-right: 10px;
                color: #333333;
              }
            }

          }

        }
      }
    }
    .right_div_user {
      width: 320px;
      margin-top: 21px;
      background: #ffffff;
      h3 {
        font-size: 18px;
        color: #333333;
        font-weight: bold;
        line-height: 40px;
        border-left: 5px solid #1ae2a7;
        padding-left: 15px;
        margin-bottom: 20px;
      }
      ul {
        width: 300px;
        margin: -15px auto 0;
        li {
          border-bottom: 1px solid #eeeeee;
          padding-bottom: 5px;
          padding-top: 10px;
          display: flex;
          &:last-child{
            border:0;
          }
         .user_left{
           height: 50px;
           width: 50px;
         }
          .user_right {
            margin-left: 10px;
            a {
              color: #333333;
              font-weight: bold;
            }
            p {margin-top: 3px;
              color: #999999;
            }
          }
          button{
            height: 26px;
            width: 55px;
            background: #10db9f;
            color: #ffffff;
            font-size: 12px;
            border-radius: 2px;
            margin-left: 118px;
            margin-top: 10px;
          }
        }
      }
    }

  }
}
.shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
  display: none;
}

._alert {
  display: none;
  width: 490px;
  height: 300px;
  z-index: 10;
  position: fixed;
  top: 40%;
  margin-top: -150px;
  left: 50%;
  margin-left: -245px;
  background: #ffffff;
  p {
    line-height: 50px;
    font-size: 18px;
    color: #333333;
    padding-left: 16px;
    margin-top: 8px;
    button {
      height: 18px;
      width: 18px;
      background: url("../images/claim/close.png") no-repeat center center;
      margin-left: 366px;
    }
  }
  .btn {
    height: 30px;
    width: 67px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #999999;
    color: #a1a1a1;
    margin-top: 17px;
    margin-left: 314px;
    &:last-child {
      background: #0ec891;
      color: #fff;
      margin-left: 20px;
      border:0;
    }
  }
  textarea {
    height: 172px;
    width: 454px;
    margin-left: 16px;
  }
}

._alert_success {
  display: none;
  height: 178px;
  width: 296px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -148px;
  margin-top: -89px;
  background: #ffffff;
  z-index: 10;
  button {
    width: 16px;
    height: 16px;
    background: url("../images/claim/close.png") no-repeat center;
    margin-top: 26px;
    margin-left: 260px;
  }
  p {
    line-height: 44px;
    background: url("../images/success.png") no-repeat left center;
    margin-left: 65px;
    padding-left: 62px;
    font-size: 20px;
    margin-top: 25px;
  }
}