body {
  background: #f5f5f5;
}

.clear:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
}
button{outline:none;}
.search_sou {
  background: #ffffff;
  height: 42px;
  width: 524px;
  margin: 30px auto 36px;
  border: 2px solid #0fc791;
  position: relative;

  select {
    border: 0;
    height: 42px;
    width: 115px;
    border-right: 2px solid #0fc791;
    padding:0 15px 0 17px;
  }
  input {
    padding-left: 10px;
    height: 41px;
    width: 300px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 100px;
    background: #0fc791;
    border: 0;
    margin-right: 0px;
    margin-top: 0px;
    color: #ffffff;
  }
}

.search_none_banner {
  width: 1100px;
  margin: 0 auto 50px;

  .left_div {
    float: left;
    background: #ffffff;
    width: 764px;
    .left_div_p1 {
      height: 48px;
      background: #fbf9fa;
      border-bottom: 1px solid #eeeeee;
      a {
        display: block;
        line-height: 46px;
        border-top: 2px solid #0fc88f;
        border-right: 1px solid #eeeeee;
        width: 80px;
        background: #ffffff;
        text-align: center;
        font-size: 16px;
        color: #333333;
      }
    }
    .left_div_p2 {
      line-height: 50px;
      border-bottom: 1px solid #eeeeee;
      padding-left:18px;
      font-size: 16px;
      color: #999999;
      .span {
        color: #0ec891;
      }
    }
    .left_nav {
      padding-left: 18px;
      line-height: 58px;
      border-bottom: 1px solid #eeeeee;
      span {
        float: left;
        height: 58px;
        color: #999999;
      }
      ul {
        float: left
      }
      li {
        float: left;
        a {
          font-size: 14px;
          padding: 0 9px;
          color: #333333;
        }
      }
    }
    .search_none_search {
      position: relative;
      height: 70px;
      border-bottom: 1px solid #eeeeee;
      input{height: 30px;
        border-radius: 20px;
        margin-top: 20px;
        padding-left: 32px;
        width: 160px;
        border:1px solid #eeeeee;
        margin-left: 20px}
      button{background: url("../images/search_button.jpg") no-repeat center center;height: 20px;width: 20px;
        position: absolute;
        top:26px;
        left: 29px;}

    }
    .result {
      width: 764px;
      ul {
        width: 764px;
        li {
          width: 764px;
          border-bottom: 1px solid #eeeeee;
          padding-bottom: 11px;

          .result_left {
            float: left;
            width: 265px;
            margin-left: 14px;
            margin-top: 14px;
          }
          .result_right {
            float: right;
            width: 434px;
            margin-right: 40px;
            margin-top: 14px;
            .title {
              line-height: 20px;
               margin-top: 31px;
              a {
                font-size: 16px;
                color: #333333;

                i {
                  font-style: normal;
                  color: #ff3300;
                }
              }

            }

            .text {
              font-size: 12px;
              color: #999999;
              line-height: 22px;
              margin-top: 9px;
            }
            .zan {
              font-size: 12px;
              line-height: 46px;
              color: #999999;
              a {
                float: left;
                width: 17px;
                height: 46px;
                background: url("../images/search_share/zan.png") no-repeat left center;
              }
              span {
                margin-left: 6px;
              }

            }
          }
        }

      }

    }

    #pages{
      height:110px;
      background:#fff;
      display:flex;
      align-items:center;
      justify-content:center;
    }
  }
  .right_div {
    width: 320px;
    margin-left: 782px;
    overflow: hidden;

    .right_div_activity {

      background: #ffffff;
      width: 320px;
      h3 {
        font-size: 18px;
        color: #333333;
        font-weight: bold;
        line-height: 40px;
        border-left: 5px solid #1ae2a7;
        padding-left: 15px;
        margin-bottom: 20px;
      }
      ul {
        width: 300px;
        margin: 0 auto;

        li {
          border-bottom: 1px solid #eeeeee;
          padding-bottom: 8px;
          margin-top: 20px;
          &:last-child {
            border-bottom: 0;
          }
          .activity_left {
            width: 100px;

            float: left;
            img {
              height: 100px;
              width: 100px;
            }
          }
          .activity_right {
            width: 180px;
            margin-right: 10px;
            float: right;
            .title {
              font-size: 16px;
              font-weight: bold;
              color: #666666;
              line-height: 20px;
            }
            .p1 {
              margin-top: 4px;
              color: #999999;
            }
            .p2 {
              line-height: 33px;

              font-size: 123px;
              margin-top: 7px;
              a {
                float: left;
                margin-right: 10px;
                color: #333333;
              }
            }

          }

        }
      }
    }
    .right_div_user {
      width: 320px;
      margin-top: 21px;
      background: #ffffff;
      h3 {
        font-size: 18px;
        color: #333333;
        font-weight: bold;
        line-height: 40px;
        border-left: 5px solid #1ae2a7;
        padding-left: 15px;
        margin-bottom: 20px;
      }
      ul {
        width: 300px;
        margin: -15px auto 0;
        li {
          border-bottom: 1px solid #eeeeee;
          padding-bottom: 5px;
          padding-top: 10px;
          &:last-child{
            border:0;
          }
          .user_left {
            float: left;
          }
          .user_right {
            float: right;
            margin-right: 150px;
            a {
              color: #333333;
              font-weight: bold;
            }
            p {margin-top: 3px;
              color: #999999;
            }
          }
        }
      }
    }

  }
}