body {
  background: #f5f5f5;
}
button{outline:none;}
.clear:after {
  display: block;
  content: "";
  height: 0;
  visibility: hidden;
  clear: both;
}

.bx-wrapper .bx-prev {
  left: 0%;
  background: url(../plug/banner/images/arrow_left.png) no-repeat center;
}
.bx-wrapper .bx-next {
  right: 0%;
  background: url(../plug/banner/images/arrow_right.png) no-repeat center;
}
.bx-wrapper .bx-viewport{border:0;
  left:0;}


.div_banner {
  width: 1100px;
  margin: 0 auto;
  p {
    margin: 12px 0 12px 0;
  }
  img {
    height: 350px;
    width: 1100px;
  }
  .p1 {
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #333333;
    line-height: 42px;
    padding-left: 18px;
    margin-top: 6px;
    background: #ffffff;
    button {
      height: 30px;
      width: 100px;
      border-radius: 4px;
      float: right;
      margin-top: 6px;
    }
    .btn1 {
      font-size: 12px;
      background: #f4d521;
      margin-right: 9px;
      margin-left: 15px;
      color: #ffffff;
    }
    .btn2 {
      font-size: 12px;
      background: #0ec891;
      margin-right: 9px;
    }
  }
}

.share_list {
  width: 1121px;
  margin: 0 auto;
}

.share_list ul li {
  background: #ffffff;
  margin-left: 7px;
  margin-bottom: 8px;
  height: 320px;
  width: 270px;
  float: left;

  p span {
    color: #999999;
  }
  p a {
    color: #ff0000;
  }
  h4 {
    color: #333333;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .share_list_p0 {
    color: #999;
    margin-left: 10px;
    margin-top: 9px;
  }
  .share_list_p1 {
    margin-left: 10px;
    margin-top: 10px;
  }
  .share_list_p2 {
    img {
      height: 30px;
      width: 30px;
      display: inline-block;
      float: right;
      margin: auto 10px 10px 7px;
    }
    span {
      float: right;
      line-height: 30px;
    }
  }

}

.share_list ul li:nth-child(4n+1) {
  margin-left: 10px;
}

.share_list ul li:nth-child(4n) {
  margin-right: 10px;
}

.share_list ul li img {
  width: 250px;
  margin: 10px auto;
  display: block;
}

.list_btn {
  height: 36px;
  width: 400px;
  margin: 40px auto 40px;
  li {
    float: left;
    margin-right: 10px;
    a {
      display: block;
      line-height: 36px;
      width: 36px;
      border: 1px solid #0ec891;
      color: #0ec891;
      background: #ffffff;
      text-align: center;
      border-radius: 2px;
    }
    .a1 {
      width: 26px;
      margin-left: -10px;
      margin-right: -10px;
      border: 0;
      background: #eeeeee;
    }
  }
}
#pages{
  height:75px;
  background:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
}
